<!--CRUD creado como prueba de ingreso-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand ms-4" href="/">Prueba</a>    
    
</nav>

<div class="container mt-4" >
  <div class="row midset-md-8">
    <div class="col-md-8 offset-md-2 offset-md-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Colaborador</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de Termino</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor="let tarea of tareasArray;"
            (click)="abrirEdicion(tarea)"
            (click)="calculoFecha(tarea)"
            [className]="tarea.porcentaje ? 'bg-danger': ''"
            
          >
            <th scope="row" >{{tarea.id}}</th>
            <td>{{tarea.tarea}}</td>
            <td>{{tarea.colaborador}}</td>
            <td>{{tarea.estado}}</td>
            <td>{{tarea.fechaInicio}}</td>
            <td>{{tarea.fechaTermino}}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="card mt-4 ">
        <div class="card-body">
          <div class="card-title">
            Inserta una nueva tarea
          </div>
            
          <div class="form-group">
            <input type="text"  [(ngModel)]="seleccionarTarea.tarea" placeholder="Inserta una nueva tarea" id="" class="form-control">
          </div>

          <div class="form-group">
            <input type="text"  [(ngModel)]="seleccionarTarea.colaborador" placeholder="Nombre del colaborador" id="" class="form-control">
          </div>

          <div class="form-group">
            <input type="text"  [(ngModel)]="seleccionarTarea.estado" placeholder="Estado de la tarea" id="" class="form-control">
          </div>

          <div class="form-group">
            <label for="start">Fecha de inicio:</label>
            <input type="date" [(ngModel)]="seleccionarTarea.fechaInicio" id="start" class="form-control">
          </div>

          <div class="form-group">
            <label for="end">Fecha de cierre:</label>
            <input type="date" [(ngModel)]="seleccionarTarea.fechaTermino" id="end" class="form-control">
          </div>

          <button 
            (click)="agregarEditar()"
            class="btn btn-primary me-2 mt-2"
          >
            Envio
          </button>

          <button 
            *ngIf="seleccionarTarea.id !== 0"
            class="btn btn-danger mt-2"
            (click)= "borrar()"
          >

            X Eliminar 
          </button>
        </div>
      </div>
    </div>
  </div>
</div>